<div id="<%= dom_id notificacao %>">
  <p>
    <strong>Descricao:</strong>
    <%= notificacao.descricao %>
  </p>

  <p>
    <strong>Vigencia:</strong>
    <%= notificacao.vigencia %>
  </p>

  <p>
    <strong>Data hora:</strong>
    <%= notificacao.data_hora %>
  </p>

  <p>
    <strong>Assunto:</strong>
    <%= notificacao.assunto %>
  </p>

  <p>
    <strong>Situacao:</strong>
    <%= notificacao.situacao_id %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= notificacao.deleted_at %>
  </p>

</div>
