<% content_for :breadcrumb do %>
  <h1 class="text-2xl font-semibold"><%= Municipio.model_name.human.pluralize %></h1>
<% end %>

<div class="ui styled fluid accordion">
  <div class="title active">
    <i class="dropdown icon"></i>
    <%= t('helpers.titles.search_filter') %>
  </div>
  <div class="content active">
    <%= search_form_for @q, html: { class: 'space-y-6' } do |f| %>
      <div class="grid md:grid-cols-4 md:gap-6">
        <div class="relative z-0 w-full group">
          <%= f.label :descricao, class: 'block text-sm font-medium' %>
          <%= f.search_field :descricao_cont, class: 'w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2 dark:bg-darker dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 placeholder:italic validation' %>
        </div>
        <div class="relative z-0 w-full group">
          <%= f.label :uf_id, class: 'block text-sm font-medium' %>
          <%= f.select :uf_id_eq, @ufs.collect{|uf| [uf.sigla,  uf.id]}, {prompt: I18n.t('helpers.select.prompt')}, {class: "control-field"} %>
        </div>
      </div>
      <div class="flex items-center space-x-2 pb-6">
        <%= link_to t('helpers.links.clear'), municipios_path, class: 'px-5 py-2 text-sm text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600' %>
        <%= f.submit t('helpers.links.search'), class: "px-4 py-2 text-sm text-white rounded-md bg-primary hover:bg-primary-dark focus:outline-none focus:ring focus:ring-primary focus:ring-offset-1 focus:ring-offset-white dark:focus:ring-offset-dark", data: {tooltip: t('ransack.search'), inverted: ''} %>
      </div>
    <% end %>
  </div>
</div>

<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="py-3 px-6"><%= sort_link(@q, :descricao, Municipio.human_attribute_name(:descricao)) %></th>
        <th scope="col" class="py-3 px-6"><%= sort_link(@q, :uf, Municipio.human_attribute_name(:uf)) %></th>
      </tr>
    </thead>

    <tbody>
    <% @municipios.each do |municipio| %>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
        <td class="py-1 px-6"><%= municipio.descricao %></td>
        <td class="py-1 px-6"><%= municipio.uf.sigla %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  
  <div class="flex flex-col items-center">
    <span class="text-sm text-gray-700 dark:text-gray-400 py-4">
      <%= page_entries_info @municipios %>
    </span>
    <%= paginate @municipios %>
  </div>
</div>