<div id="<%= dom_id informacao %>">
  <p>
    <strong>Descricao:</strong>
    <%= informacao.descricao %>
  </p>

  <p>
    <strong>Titulo:</strong>
    <%= informacao.titulo %>
  </p>

  <p>
    <strong>Situacao:</strong>
    <%= informacao.situacao_id %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= informacao.deleted_at %>
  </p>

</div>
