<% content_for :breadcrumb do %>
<h1 class="text-2xl font-semibold"><%= Informacao.model_name.human.pluralize %></h1>
<%= link_to t('helpers.links.new'), new_informacao_path, class: 'px-4 py-2 text-sm text-white rounded-md bg-primary hover:bg-primary-dark focus:outline-none focus:ring focus:ring-primary focus:ring-offset-1 focus:ring-offset-white dark:focus:ring-offset-dark' %>
<% end %>

<div class="ui styled fluid accordion">
  <div class="title active">
    <i class="dropdown icon"></i>
    <%= t('helpers.titles.search_filter') %>
  </div>
  <div class="content active">
    <%= search_form_for @q, html: { class: 'space-y-6' } do |f| %>
      <div class="grid md:grid-cols-4 md:gap-6">
        <div class="relative z-0 w-full group">
          <%= f.label :titulo, class: 'block text-sm font-medium' %>
          <%= f.search_field :titulo_cont, class: 'w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2 dark:bg-darker dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 placeholder:italic validation' %>
        </div>
        <div class="relative z-0 w-full group">
          <%= f.label :situacao_id, class: 'block text-sm font-medium' %>
          <%= f.select :situacao_id_eq, @situacoes.collect{|s| [s.descricao,  s.id]}, {prompt: I18n.t('helpers.select.prompt')}, {class: "control-field"} %>
        </div>
        <div class="relative z-0 w-full group">
          <%= f.label :destaque, class: 'block text-sm font-medium' %>
          <%= f.select :destaque_eq, [true, false].collect{|value| [boolean_label(value),  value]}, {prompt: I18n.t('helpers.select.prompt')}, {class: "control-field"} %>
        </div>
        </div>
      <div class="flex items-center space-x-2 pb-6">
        <%= link_to t('helpers.links.clear'), informacoes_path, class: 'px-5 py-2 text-sm text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600' %>
        <%= f.submit t('helpers.links.search'), class: "px-4 py-2 text-sm text-white rounded-md bg-primary hover:bg-primary-dark focus:outline-none focus:ring focus:ring-primary focus:ring-offset-1 focus:ring-offset-white dark:focus:ring-offset-dark", data: {tooltip: t('ransack.search'), inverted: ''} %>
      </div>
    <% end %>
  </div>
</div>

<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="w-10"></th>
        <th scope="col" class="py-3 px-6"><%= sort_link(@q, :titulo, Informacao.human_attribute_name(:titulo)) %></th>
        <th scope="col" class="py-3 px-6"><%= sort_link(@q, :destaque, Informacao.human_attribute_name(:destaque)) %></th>
        <th scope="col" class="py-3 px-6"><%= sort_link(@q, :situacao, Informacao.human_attribute_name(:situacao)) %></th>
        <th scope="col" class="py-3 px-6"><%= t('helpers.actions') %></th>
      </tr>
    </thead>

    <tbody>
    <tbody data-controller="sortable" data-drag-url="/informacoes/:id/sort">
    <% @informacoes.each do |informacao| %>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"  data-target="drag-and-drop.id" data-id="<%= informacao.id %>">
        <td class="py-1 px-6"><%= heroicon 'bars-4' %></td>
        <td class="py-1 px-6"><%= informacao.titulo %></td>
        <td class="py-1 px-6"><%= boolean_label(informacao.destaque) %></td>
        <td class="py-1 px-6"><%= informacao.situacao&.descricao %></td>
        <td style="width: 5%;">
          <div class="inline-flex rounded-md shadow-sm" role="group">
            <%= link_to(informacao, class: 'inline-flex items-center py-2 px-4 text-xs font-medium text-gray-900 bg-white rounded-l-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white', data: {'tooltip-': t('helpers.links.show'), 'tooltip-target' => 'tooltip-show', 'tooltip-trigger' => 'hover'}) do %>
              <%= heroicon "information-circle" %>
            <% end %>
            <div id="tooltip-edit" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700">
              <%= t('helpers.links.edit') %>
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
            <%= link_to(edit_informacao_path(informacao), class: 'inline-flex items-center py-2 px-4 text-xs font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white', data: {tooltip: t('helpers.links.edit'), 'tooltip-target' => 'tooltip-edit', 'tooltip-trigger' => 'hover'}) do %>
              <%= heroicon "pencil-square" %>
            <% end %>
            <div id="tooltip-show" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700">
              <%= t('helpers.links.show') %>
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
            <%= link_to(informacao, class: 'inline-flex items-center py-2 px-4 text-xs font-medium text-gray-900 bg-white rounded-r-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white', data: { turbo_method: :delete, turbo_confirm: 'Tem certeza que deseja excluir?', 'tooltip-target' => 'tooltip-destroy', 'tooltip-trigger' => 'hover'}) do %>
              <%= heroicon "trash" %>
            <% end %>
            <div id="tooltip-destroy" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700">
              <%= t('helpers.links.destroy') %>
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>