<%- if controller_name != 'sessions' %>
  <%= link_to "Log in", new_session_path(resource_name), class: 'text-sm text-blue-600 hover:underline' %><br />
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Registre-se", new_registration_path(resource_name), class: 'text-sm text-blue-600 hover:underline' %><br />
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Esqueceu a senha?", new_password_path(resource_name), class: 'text-sm text-blue-600 hover:underline' %><br />
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: 'text-sm text-blue-600 hover:underline' %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), class: 'text-sm text-blue-600 hover:underline' %><br />
<% end %>

<%= button_to user_keycloakopenid_omniauth_authorize_path, method: :post, "data-turbo": false, class: 'flex items-center justify-center px-4 py-2 space-x-2 text-white bg-black rounded-md hover:bg-opacity-80 focus:outline-none focus:ring-2 focus:ring-black focus:ring-black focus:ring-offset-1 dark:focus:ring-offset-darker', data: { turbo_method: :post, turbo: false } do %>
  <%= heroicon 'arrow-right-on-rectangle' %>
  <span> Login com Metrodata </span>
<% end %>
