<nav aria-label="Main" class="flex-1 px-2 py-4 space-y-2 overflow-y-hidden hover:overflow-y-auto">
  <!-- Dashboards links -->
  <%= link_to root_path, class: "flex items-center p-2 mb-2 text-gray-500 transition-colors rounded-md dark:text-light hover:bg-primary-100 dark:hover:bg-primary" do %>
    <span aria-hidden="true">
      <svg
        class="w-5 h-5"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
        />
      </svg>
    </span>
    <span class="ml-2 text-sm"> Home </span>
    <span class="ml-auto" aria-hidden="true">
    </span>
  <% end %>

  <!-- Pages links -->
  <div x-data="{ isActive: false, open: false }">
    <!-- active classes 'bg-primary-100 dark:bg-primary' -->
    <a
      href="#"
      @click="$event.preventDefault(); open = !open"
      class="menu-title"
      :class="{ 'bg-primary-100 dark:bg-primary': isActive || open }"
      role="button"
      aria-haspopup="true"
      :aria-expanded="(open || isActive) ? 'true' : 'false'"
    >
      <span aria-hidden="true">
        <%= heroicon "pencil-square" %>
      </span>
      <span class="ml-2 text-sm"> Conteúdo </span>
      <span aria-hidden="true" class="ml-auto">
        <!-- active class 'rotate-180' -->
        <svg
            class="w-4 h-4 transition-transform transform"
            :class="{ 'rotate-180': open }"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
        >
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
        </svg>
      </span>
    </a>

    <div x-show="open" class="mt-2 space-y-2 px-7" role="menu" arial-label="Pages">
      <!-- active & hover classes 'text-gray-700 dark:text-light' -->
      <!-- inActive classes 'text-gray-400 dark:text-gray-400' -->
      <%= link_to 'Informações', informacoes_path, class: 'menu-item', role: 'menuitem' %>
    </div>

    <div x-show="open" class="mt-2 space-y-2 px-7" role="menu" arial-label="Pages">
      <!-- active & hover classes 'text-gray-700 dark:text-light' -->
      <!-- inActive classes 'text-gray-400 dark:text-gray-400' -->
      <%= link_to 'Notificações', notificacoes_path, class: 'menu-item', role: 'menuitem' %>
    </div>
  </div>

  <div x-data="{ isActive: false, open: false }">
    <a
      href="#"
      @click="$event.preventDefault(); open = !open"
      class="menu-title"
      :class="{ 'bg-primary-100 dark:bg-primary': isActive || open }"
      role="button"
      aria-haspopup="true"
      :aria-expanded="(open || isActive) ? 'true' : 'false'"
    >
      <span aria-hidden="true">
        <%= heroicon "identification" %>
      </span>
      <span class="ml-2 text-sm"> Entidade </span>
      <span aria-hidden="true" class="ml-auto">
        <!-- active class 'rotate-180' -->
        <svg
            class="w-4 h-4 transition-transform transform"
            :class="{ 'rotate-180': open }"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
        >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
        </svg>
      </span>
    </a>

    <div x-show="open" class="mt-2 space-y-2 px-7" role="menu" arial-label="Pages">
      <%= link_to 'Entidades', entidades_path, class: 'menu-item', role: 'menuitem' %>
    </div>
  </div>
  
  <div x-data="{ isActive: false, open: false }">
    <a
      href="#"
      @click="$event.preventDefault(); open = !open"
      class="menu-title"
      :class="{ 'bg-primary-100 dark:bg-primary': isActive || open }"
      role="button"
      aria-haspopup="true"
      :aria-expanded="(open || isActive) ? 'true' : 'false'"
    >
      <span aria-hidden="true">
        <%= heroicon "wrench-screwdriver"%>
      </span>
      <span class="ml-2 text-sm"> Serviço </span>
      <span aria-hidden="true" class="ml-auto">
        <!-- active class 'rotate-180' -->
        <svg
            class="w-4 h-4 transition-transform transform"
            :class="{ 'rotate-180': open }"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
        >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
        </svg>
      </span>
    </a>

    <div x-show="open" class="mt-2 space-y-2 px-7" role="menu" arial-label="Pages">
      <%= link_to 'Serviços', servicos_path, class: 'menu-item', role: 'menuitem' %>
    </div>
  </div>

  <div x-data="{ isActive: false, open: false }">
    <!-- active classes 'bg-primary-100 dark:bg-primary' -->
    <a
      href="#"
      @click="$event.preventDefault(); open = !open"
      class="menu-title"
      :class="{ 'bg-primary-100 dark:bg-primary': isActive || open }"
      role="button"
      aria-haspopup="true"
      :aria-expanded="(open || isActive) ? 'true' : 'false'"
    >
      <span aria-hidden="true">
        <%= heroicon "cog-6-tooth" %>
      </span>
      <span class="ml-2 text-sm"> Administração </span>
      <span aria-hidden="true" class="ml-auto">
        <!-- active class 'rotate-180' -->
        <svg
            class="w-4 h-4 transition-transform transform"
            :class="{ 'rotate-180': open }"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
        >
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
        </svg>
      </span>
    </a>

    <div x-show="open" class="mt-2 space-y-2 px-7" role="menu" arial-label="Pages">
      <%= link_to 'Módulos', modulos_path, class: 'menu-item', role: 'menuitem' %>
      
      <div x-data="{ isActive: false, open: false }">
        <a
          href="#"
          @click="$event.preventDefault(); open = !open"
          class="menu-title"
          :class="{ 'bg-primary-100 dark:bg-primary': isActive || open }"
          role="button"
          aria-haspopup="true"
          :aria-expanded="(open || isActive) ? 'true' : 'false'"
        >
          <span aria-hidden="true">
            <%= heroicon "identification" %>
          </span>
          <span class="ml-2 text-sm"> Entidade </span>
          <span aria-hidden="true" class="ml-auto">
            <!-- active class 'rotate-180' -->
            <svg
                class="w-4 h-4 transition-transform transform"
                :class="{ 'rotate-180': open }"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
            >
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </span>
        </a>

        <div x-show="open" class="mt-2 space-y-2 px-7" role="menu" arial-label="Pages">
          <%= link_to 'Atuação', atuacoes_path, class: 'menu-item', role: 'menuitem' %>
        </div>
        <div x-show="open" class="mt-2 space-y-2 px-7" role="menu" arial-label="Pages">
          <%= link_to 'Origem', origens_path, class: 'menu-item', role: 'menuitem' %>
        </div>
        <div x-show="open" class="mt-2 space-y-2 px-7" role="menu" arial-label="Pages">
          <%= link_to 'Tipo de Entidade', tipo_entidades_path, class: 'menu-item', role: 'menuitem' %>
        </div>
      </div>

      <div x-data="{ isActive: false, open: false }">
        <a
          href="#"
          @click="$event.preventDefault(); open = !open"
          class="menu-title"
          :class="{ 'bg-primary-100 dark:bg-primary': isActive || open }"
          role="button"
          aria-haspopup="true"
          :aria-expanded="(open || isActive) ? 'true' : 'false'"
        >
          <span aria-hidden="true">
            <%= heroicon "wrench-screwdriver" %>
          </span>
          <span class="ml-2 text-sm"> Serviço </span>
          <span aria-hidden="true" class="ml-auto">
            <!-- active class 'rotate-180' -->
            <svg
                class="w-4 h-4 transition-transform transform"
                :class="{ 'rotate-180': open }"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
            >
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </span>
        </a>

        <div x-show="open" class="mt-2 space-y-2 px-7" role="menu" arial-label="Pages">
          <%= link_to 'Tipo Detalhe', tipo_detalhes_path, class: 'menu-item', role: 'menuitem' %>
        </div>
        <div x-show="open" class="mt-2 space-y-2 px-7" role="menu" arial-label="Pages">
          <%= link_to 'Tipo Serviço', tipo_servicos_path, class: 'menu-item', role: 'menuitem' %>
        </div>
        <div x-show="open" class="mt-2 space-y-2 px-7" role="menu" arial-label="Pages">
          <%= link_to 'Serviço', servicos_path, class: 'menu-item', role: 'menuitem' %>
        </div>
      </div>

      <div x-data="{ isActive: false, open: false }">
        <a
          href="#"
          @click="$event.preventDefault(); open = !open"
          class="menu-title"
          :class="{ 'bg-primary-100 dark:bg-primary': isActive || open }"
          role="button"
          aria-haspopup="true"
          :aria-expanded="(open || isActive) ? 'true' : 'false'"
        >
          <span aria-hidden="true">
            <%= heroicon "map-pin" %>
          </span>
          <span class="ml-2 text-sm"> Localidade </span>
          <span aria-hidden="true" class="ml-auto">
            <!-- active class 'rotate-180' -->
            <svg
                class="w-4 h-4 transition-transform transform"
                :class="{ 'rotate-180': open }"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
            >
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </span>
        </a>

        <div x-show="open" class="mt-2 space-y-2 px-7" role="menu" arial-label="Pages">
          <%= link_to 'UFs', ufs_path, class: 'menu-item', role: 'menuitem' %>
        </div>
        <div x-show="open" class="mt-2 space-y-2 px-7" role="menu" arial-label="Pages">
          <%= link_to 'Municípios', municipios_path, class: 'menu-item', role: 'menuitem' %>
        </div>
      </div>
    </div>

    
    
  </div>
</nav>