<div class="bg-white rounded-md dark:bg-darker relative p-6 mb-20">
  <%= form_for(@servico, html: { class: 'space-y-4' }) do |f| %>
    <%= render partial: 'shared/errors_messages', locals: { model: @servico } %>
    <div class="mb-4">
      <%= f.label :tipo_servico_id, class: 'control-label required' %>
      <%= f.select :tipo_servico_id, @tipo_servicos.collect{|t| [t.descricao,  t.id]}, {prompt: I18n.t('helpers.select.prompt')}, {class: "control-field validation"} %>
    </div>
    <div class="mb-4">
      <%= f.label :entidade_id, class: 'control-label required' %>
      <%= f.select :entidade_id, @entidades.collect{|e| [e.nome,  e.id]}, {prompt: I18n.t('helpers.select.prompt')}, {class: "control-field validation"} %>
    </div>
    <div class="grid md:grid-cols-2 md:gap-6">
      <div class="mb-4">
        <%= f.label :vigencia_inicial, class: 'control-label' %>
        <%= f.date_field :vigencia_inicial, class: 'control-field validation', placeholder: true %>
      </div>
      <div class="mb-4">
        <%= f.label :vigencia_final, class: 'control-label' %>
        <%= f.date_field :vigencia_final, class: 'control-field validation', placeholder: true %>
      </div>
    </div>
    <div class="mb-4">
      <%= f.label :observacoes, class: 'control-label' %>
      <%= f.text_field :observacoes, class: 'control-field validation', placeholder: true %>
    </div>
    <div class="actions">
      <%= link_to t('helpers.links.cancel'), servicos_path, class: 'btn-secondary' %>
      <%= f.submit nil, class: 'btn-primary' %>
    </div>
  <% end %>
</div>