<div id="<%= dom_id servico %>">
  <p>
    <strong>Tipo servico:</strong>
    <%= servico.tipo_servico_id %>
  </p>

  <p>
    <strong>Entidade:</strong>
    <%= servico.entidade_id %>
  </p>

  <p>
    <strong>Vigencia inicial:</strong>
    <%= servico.vigencia_inicial %>
  </p>

  <p>
    <strong>Vigencia final:</strong>
    <%= servico.vigencia_final %>
  </p>

  <p>
    <strong>Observacoes:</strong>
    <%= servico.observacoes %>
  </p>
</div>
