<div class="bg-white rounded-md dark:bg-darker relative p-6 mb-20">
  <%= form_for(@modulo, html: { class: 'space-y-4' }) do |f| %>
    <%= render partial: 'shared/errors_messages', locals: { model: @modulo } %>
    <div class="grid md:grid-cols-2 md:gap-6">
      <div class="mb-4">
        <%= f.label :titulo, class: 'block text-sm font-medium' %>
        <%= f.text_field :titulo, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-darker dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 placeholder:italic validation', placeholder: true %>
      </div>
      <div class="mb-4">
        <%= f.label :descricao, class: 'block text-sm font-medium' %>
        <%= f.text_field :descricao, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-darker dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 placeholder:italic validation', placeholder: true %>
      </div>
    </div>
    <div class="grid md:grid-cols-2 md:gap-6">
      <div class="mb-4">
        <%= f.label :icone, class: 'block text-sm font-medium' %>
        <%= f.text_field :icone, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-darker dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 placeholder:italic validation', placeholder: true %>
        <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">Escolha os ícones em <a href="https://heroicons.com" target="_blank" class="font-medium text-blue-600 hover:underline dark:text-blue-500">https://heroicons.com</a>.</p>
      </div>
      <div class="mb-4">
        <%= f.label :url, class: 'block text-sm font-medium' %>
        <%= f.text_field :url, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-darker dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 placeholder:italic validation', placeholder: true %>
      </div>
    </div>
    <div class="flex items-center mb-4">
      <%= f.check_box :ativo, class: 'w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600' %>
      <%= f.label :ativo, class: 'ml-2 text-sm font-medium text-gray-900 dark:text-gray-300' %>
    </div>
    <div class="flex items-center py-4 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600">
      <%= link_to t('helpers.links.cancel'), modulos_path, class: 'px-5 py-2 text-sm text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600' %>
      <%= f.submit nil, class: 'btn-primary' %>
    </div>
  <% end %>
</div>