<div id="<%= dom_id modulo %>">
  <p>
    <strong>Titulo:</strong>
    <%= modulo.titulo %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= modulo.descricao %>
  </p>

  <p>
    <strong>Icone:</strong>
    <%= modulo.icone %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= modulo.url %>
  </p>

  <p>
    <strong>Ativo:</strong>
    <%= modulo.ativo %>
  </p>

</div>
