<div id="<%= dom_id entidade %>">
  <p>
    <strong>Nome:</strong>
    <%= entidade.nome %>
  </p>

  <p>
    <strong>Cpf cnpj:</strong>
    <%= entidade.cpf_cnpj %>
  </p>

  <p>
    <strong>Razao social:</strong>
    <%= entidade.razao_social %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= entidade.endereco %>
  </p>

  <p>
    <strong>Numero endereco:</strong>
    <%= entidade.numero_endereco %>
  </p>

  <p>
    <strong>Complemento endereco:</strong>
    <%= entidade.complemento_endereco %>
  </p>

  <p>
    <strong>Bairro endereco:</strong>
    <%= entidade.bairro_endereco %>
  </p>

  <p>
    <strong>Municipio:</strong>
    <%= entidade.municipio_id %>
  </p>

  <p>
    <strong>Tipo entidade:</strong>
    <%= entidade.tipo_entidade_id %>
  </p>

  <p>
    <strong>Origem:</strong>
    <%= entidade.origem_id %>
  </p>
</div>
