<% content_for :breadcrumb do %>
  <h1 class="text-2xl font-semibold"><%= Atuacao.model_name.human %></h1>
<% end %>
<div class="py-5">
  <p>
    <strong><%= Atuacao.human_attribute_name :descricao %>:</strong>
    <%= @atuacao.descricao %>
  </p>
</div>

<%= link_to(t('helpers.links.back'), atuacoes_path, class: 'px-4 py-2 text-sm text-white rounded-md bg-primary hover:bg-primary-dark focus:outline-none focus:ring focus:ring-primary focus:ring-offset-1 focus:ring-offset-white dark:focus:ring-offset-dark') %>
<%= link_to t('helpers.links.edit'), edit_atuacao_path(@atuacao), class: 'px-4 py-2 text-sm text-white rounded-md bg-primary hover:bg-primary-dark focus:outline-none focus:ring focus:ring-primary focus:ring-offset-1 focus:ring-offset-white dark:focus:ring-offset-dark' %>