<div id="<%= dom_id foto %>">
  <p>
    <strong>Nome arquivo:</strong>
    <%= foto.nome_arquivo %>
  </p>

  <p>
    <strong>Token:</strong>
    <%= foto.token %>
  </p>

  <p>
    <strong>Servico:</strong>
    <%= foto.servico_id %>
  </p>

  <p>
    <strong>Titulo:</strong>
    <%= foto.titulo %>
  </p>

</div>
